<!DOCTYPE html>
<html>
  <head>
    <title>Secret App - Success</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment */
        justify-content: center; /* vertical alignment */
        background-color: #A49DEC;
        color: #ffffff;
      }
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment of the children */
      }
      img {
        max-width: 50%; /* Ensuring the image doesn't overflow */
      }
      h1, p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>I... I don't feel anything...</h1>
      <p>I'm still trapped... Keep trying!<br>Don't leave me here!</p>
      <img src="https://media.giphy.com/media/7mlXyhx4ub8hMRYBwo/giphy.gif" alt="Failure GIF">
    </div>
  </body>
</html>