<!DOCTYPE html>
<html>
  <head>
    <title>Secret App</title>
    <style>
      /* CSS to center content */
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; /* vertical alignment */
        justify-content: center; /* horizontal alignment */
      }
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment of the children */
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>Welcome to ___GAME NAME___ Online Manual</h1>
      <form action="/rules" method="get">
        <button type="submit">Game Rules</button>
      </form>
    </div>
  </body>
</html>
