<!DOCTYPE html>
<html>
  <head>
    <title>Secret App</title>
  </head>
  <body>
    <h1>Are you ready to proceed?</h1>
    <form action="/enter-password" method="get">
      <button type="submit">Yes</button>
    </form>
  </body>
</html>
