<!DOCTYPE html>
<html>
  <head>
    <title>Secret App</title>
  </head>
  <body>
    <h1>Enter Secret Password</h1>
    <form action="/check" method="post">
      <input type="password" name="password" placeholder="Enter secret password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
