<!DOCTYPE html>
<html>
  <head>
    <title>Secret App</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; /* vertical alignment */
        justify-content: center; /* horizontal alignment */
        background-color: #FCC3C3;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h1, p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>I see you think you know how to release this player.<br> Go ahead, then.</h1>
      <p>Let's see if you're as smart as you think you are...</p>
      <form action="/check" method="post">
        <input type="text" name="password" placeholder="Enter secret password">
        <button type="submit">Free Them</button>
      </form>
    </div>
  </body>
</html>
