<!DOCTYPE html>
<html>
  <head>
    <title>Secret App</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; /* vertical alignment */
        justify-content: center; /* horizontal alignment */
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>Enter Secret Password</h1>
      <form action="/check" method="post">
        <input type="text" name="password" placeholder="Enter secret password">
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
