<!DOCTYPE html>
<html>
  <head>
    <title>Secret App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center; /* vertical alignment */
        justify-content: center; /* horizontal alignment */
        background-color: #FCC3C3;
        overflow: hidden; /* Make the page non-scrollable */
        font-size: 20px; /* Increase the default font size */
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h1, p {
        text-align: center;
        margin: 0.5em 0;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>I see you think you know how to release this player.<br> Go ahead, then.</h1>
      <p>Let's see if you're as smart as you think you are...</p>
      <form action="/check" method="post">
        <input type="text" name="password" placeholder="Secret Password...">
        <button type="submit">Free Them</button>
      </form>
    </div>
  </body>
</html>
