<!DOCTYPE html>
<html>
  <head>
    <title>Secret App - Rules</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        height: 85vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment */
        justify-content: center; /* vertical alignment */
        background-color: #CDE9F1;
        color: #697477;
        overflow: hidden; /* Make the page non-scrollable */
        font-size: 20px; /* Increase the default font size */
      }
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment of the children */
      }
      img {
        max-width: 50%; /* Ensuring the image doesn't overflow */
        margin-bottom: 20px;
      }
      h1 {
        text-align: center;
        margin: 0.5em 0;
      }
      p {
        text-align: center;
      }
      .home-button {
        background-color: #ffffff;
        color: #A49DEC;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.2s;
      }
      .home-button:hover {
        background-color: #8A7BCA;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>Rules:</h1>
      <ol>
        <li> Players roll 2 dice on each turn, if you roll doubles, you roll again (maximum of one extra roll)</li>
        <li> Each player must start on one of the five designated tracks.</li>
        <li> If something happens in the game, the solution might be to answer either who, what, when, or <i>where</i>.</li>
        <li> Sometimes you might need to <i>feel</i> your way around Aquatica. The seas are rough, you can be too.
        <li> For each boat you acquire on your journey, a silver boat token is placed on the board</li>
        <li> Have fun on your journey through the sea </li>
      </ol>
      <br>
      <a href="/" class="home-button">Back to Home</a>
    </div>
  </body>
</html>
