<!DOCTYPE html>
<html>
  <head>
    <title>Secret App - Rules</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment */
        justify-content: center; /* vertical alignment */
        background-color: #CDE9F1;
        color: #697477;
      }
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment of the children */
      }
      img {
        max-width: 50%; /* Ensuring the image doesn't overflow */
        margin-bottom: 20px;
      }
      h1, p {
        text-align: center;
      }
      .home-button {
        background-color: #ffffff;
        color: #A49DEC;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.2s;
      }
      .home-button:hover {
        background-color: #8A7BCA;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>Rules:</h1>
      <ul>
        <p>Rule 1</p>
      </ul>
      <a href="/" class="home-button">Back to Home</a>
    </div>
  </body>
</html>
