<!DOCTYPE html>
<html>
  <head>
    <title>Secret App - Success</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment */
        justify-content: center; /* vertical alignment */
        background-color: #8CE3A5;
        color: #ffffff;
      }
      .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment of the children */
      }
      img {
        max-width: 50%; /* Ensuring the image doesn't overflow */
      }
      h1, p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>I... I feel like I'm floating upwards!</h1>
      <p>I think you did it! I'm heading home!<br>Thank you so much I can't ever repay you for saving me!</p>
      <img src="https://media.giphy.com/media/iHCQszX5HwfyzMB7Xy/giphy.gif" alt="Success GIF">
    </div>
  </body>
</html>
