<!DOCTYPE html>
<html>
  <head>
    <title>Secret App - Success</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center; /* horizontal alignment */
        justify-content: center; /* vertical alignment */
      }
      img {
        max-width: 100%; /* Ensuring the image doesn't overflow */
      }
    </style>
  </head>
  <body>
    <div class="centered-content">
      <h1>Yay you win!</h1>
      <img src="https://media.giphy.com/media/iHCQszX5HwfyzMB7Xy/giphy.gif" alt="Success GIF">
    </div>
  </body>
</html>
